.snippet {
	font-family: "Courier New", Courier, monospace;
	color: Black;
	display: block;
	background-color: #DDDDDD;
	font-size: small;
	border-spacing: 5px;
	border-color: Black;
	border-width: 1px;
	border-style: solid;
	padding-bottom: 20px;
	padding-left: 14px;
	padding-right: 2px;
	padding-top: 16px;
	overflow: scroll;
	}
.normalTab {
	color:#333333;
	font-weight: bold;
	text-align: center;
}

body, td {
	font-family: Arial, Helvetica, sans-serif;
	color: #1E1E1E;
	font-size: small;
}

.selectedTab {
	background-image: url(../images/botoneraSeleccionado.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	text-align: center;
}


.top {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: small;	
	font-style: normal;	
	color: #FFFFFF;	
	font-weight: bold;
	background-image: url(../images/centroAzul.gif);
}

.normal {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: medium;	
	font-style: normal;	
	color: #333333;
}

.subTop {	
	font-family: Arial, Helvetica, sans-serif;	
	font-size: medium;	
	font-style: normal;	
	font-weight: bold;	
	color: #333333;
}

.tabLeft { 
	background-image: url(../images/botoneraIZ.jpg);  background-repeat: no-repeat;  
}

.tabRight { 
	background-image: url(../images/botoneraDE.jpg);  background-repeat: no-repeat;
	background-position: right;
}

.tableTab {
	background-image: url(../images/botoneraBlanca.jpg);
	background-repeat: repeat-x;
}

a:link {	
	color: #0076D5;	
	text-decoration: none;
}

a:visited {	
	color: #004787;
	text-decoration: none;
}
	
a:hover {	
	text-decoration: underline;	
	color: #0076D5;
}

img {
	border: 0px;
}


.selectedTab a,.selectedTab a:link, .selectedTab a:hover, .selectedTab a:visited {
}

